name: Check Markdown Grammar

# Controls when the workflow will run
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths: 
      - '**.md'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  check-grammar:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check grammar
        uses: Haimantika/article-review-github-actions@1.1.1
        with:
          file-pattern: '**.md'
          exclude-pattern: '**/node-modules/**, **/vendor/**'



          
